*{

    padding: 0;
    margin: 0;
}


.baggrund img{

  width: 100vw;
    height: 100vh;

}

.baggrund{

    position: fixed;
     z-index: 0;

}

html{

    overflow-x: hidden;


}

.logo {

    display: block;
    background-image: url("mad/cover_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    z-index: 100;
    position: relative;
    margin-top: -35px;

}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    width: 200px;
    position: relative;
    z-index: 10;


}

button {
    text-decoration: none;
    color: #174C7D;
    font-family: 'teko', sans-serif;
    font-size: 3rem;
    padding: 0px 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    text-transform: uppercase;
}

button:hover {

    font-family: 'teko';
    font-weight: 700;

}


#retter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 150px;

}



.ret {

    margin: 0px 0px 100px 100px;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;

}

.ret img {
    width: 350px;
    height: 350px;
    -webkit-transform: rotate(45deg);
    border: 5px solid #08D8D0;

}

#popup_img {

    margin-top: 100px;

}

h2 {

    font-family: 'teko';
    font-weight: 400;
    color: #174C7D;
    font-size: 4rem;
   margin-top: 70px;

}

#popup {

    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: none;
    margin-top: 80px;

}


#indhold {

    box-sizing: border-box;
    background-color: #ffff00;
    width: 90vw;
    height: 90vh;
    margin: auto;
    border-right: 20px solid #174B7D;
    border-bottom: 40px solid #174B7D;

}
#luk {
    box-sizing: border-box;
    text-align: right;
    padding-right: 1em;

}

#luk button {

    font-size: 2em;
    font-family: 'teko';
    background-color: #ffff00;


}

#overskrift {

    font-family: 'teko';
    font-weight: 400;
    color: #174C7D;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 10px;
    position: relative;

}

p {

    font-family: 'teko';
    color: #174C7D;
    font-size: 2rem;

}

h3 {

    font-family: 'teko';
    color: #174C7D;
    font-size: 2.6rem;
    font-weight: 100;
    text-align: center;
    margin-top: -20px;
}

#drikkevarer {
    font-family: 'teko';
    color: #174C7D;
    font-size: 2.6rem;
    text-align: center;

}

#kontakt_info {


    z-index: 1000;
    width: 80vw;
    height: 80vh;
    background-color: #ffff00;
    border-right: 20px solid #174B7D;
    border-bottom: 40px solid #174B7D;

}

footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 400px;
    margin-top: 30px;
        background-color: #ffff00;
    border-right: 20px solid #174B7D;
    border-bottom: 40px solid #174B7D;

}


footer li {

    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'teko';
    font-size: 1.5rem;
    text-align: center;

}



/*--------------- Ipad -------------------*/

    @media screen and (max-width: 768px) {


        #retter {

            display: grid;
            grid-template-columns: auto;


        }

        h3{
            font-size: 2.2rem;
            }


.ret img {
    width: 350px;
    height: 350px;

}


    .logo{

           display: block;
    background-image: url("mad/cover_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 187px;
    z-index: 1000;


}

    }

/*--------------- Mobil -------------------*/

 @media screen and (max-width: 320px) {



    .logo{

    display: block;
    background-image: url("mad/cover_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 187px;
        width: auto;
    z-index: 1000;
    margin-top: -68px;

}


     #indhold {

    box-sizing: none;
    background-color: none;
    margin: none;
    border-right: none;
    border-bottom: none;
    margin: 10px 10px 30px 10px;
          }

    body { background-image: none;
     }


 h3 {
            font-size: 1rem;
         text-align: left;

        }

      h2 {
            font-size: 3rem;
          margin-top: 40px

        }


 button {


    text-decoration: none;
    color: #174C7D;
    font-family: 'teko', sans-serif;
    font-size: 1rem;
    padding: 0px 20px;
    cursor: pointer;
    border: none;
     z-index: -2;
     margin-left: -24px;


}

  #popup_img{

         height: 150px;
         width: 150px;

     }

#overskrift {
            font-size: 4rem;
           margin-top: -70px;
               z-index: 1000;

        }

.menu {

    display: flex;
    flex-direction: column;
    margin-top: -20px;
    width: 100px;
    position: relative;
    z-index: 10;
}

     footer{

          height: 400px;
    margin-top: 30px;
        background-color: #ffff00;
    border-right: 10px solid #174B7D;
    border-bottom: 20px solid #174B7D;
     z-index: 10;
     position: relative;


     }

/*
 .sectionwrapper {


    height: 400px;
    margin-top: 30px;
        background-color: #ffff00;
    border-right: 10px solid #174B7D;
    border-bottom: 20px solid #174B7D;
     z-index: 10;
     position: relative;
}

*/
footer li{


  font-size: 1rem;
}


#drikkevarer {
    font-family: 'teko';
    color: #174C7D;
    font-size: 2rem;
    text-align: center;
    margin-top: -130px;

}

     .ret {
     margin: 0;
    }

     .ret img {
    width: 200px;
    height: 200px;

}
