.background {

    background-image: url(mad/trekant.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*
    background-size: cover;
    background-repeat: no-repeat;
*/

}


.logo {

    display: block;
    padding-top: 10px;
    background-image: url("mad/cover_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    width: 200px;


}

button {
    text-decoration: none;
    color: #174C7D;
    font-family: 'teko', sans-serif;
    font-size: 2rem;
    padding: 0px 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    text-transform: uppercase;
}

button:hover {

    font-family: 'teko';
    font-weight: 700;

}


#retter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 150px;

}



.ret {

    margin: 0px 150px 20px 150px;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(45deg);
    border: 5px solid #D00DA7;

}

#popup_img {

    margin-top: 100px;

}

h2 {

    font-family: 'teko';
    font-weight: 400;
    color: #174C7D;
    font-size: 4rem;

}

#popup {

    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;

}

#indhold {

    box-sizing: border-box;
    background-color: #ffff00;
    width: 90vw;
    height: 90vh;
    margin: auto;
    border-right: 20px solid #174B7D;
    border-bottom: 40px solid #174B7D;

}

/*
#blue_box {

    box-sizing: border-box;
    background-color: #174B7D;
    width: 110vw;
    height: 90vh;
    margin: auto;
}
*/


#luk {
    box-sizing: border-box;
    text-align: right;
    padding-right: 1em;

}

#luk button {

    font-size: 2em;
    font-family: 'teko';
    background-color: #ffff00;


}

#overskrift {

    font-family: 'teko';
    font-weight: 400;
    color: #174C7D;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 10px;

}

p {

    font-family: 'teko';
    color: #174C7D;
    font-size: 2rem;
    margin-top: -60px;

}

h3 {

    font-family: 'teko';
    color: #174C7D;
    font-size: 2.6rem;
    font-weight: 100;
    text-align: center;
    margin-top: -20px;
}

#drikkevarer {
    font-family: 'teko';
    color: #174C7D;
    font-size: 2.6rem;
    text-align: center;

}
